@using MyFoodApp.Application.Common
@using MyFoodApp.Application.DTOs

@code {
    [Parameter]
    public required IngredientDto Ingredient { get; set; }

    [Parameter]
    public required List<FoodItemDto> FoodItemList { get; set; }
}

<div class="form-floating">
    <InputSelect @bind-Value="Ingredient.FoodItemId" class="form-select">
        @{
            var groupedFoodItems = FoodItemList.GroupBy(fi => fi.FoodCategory?.Name);
        }
        @foreach (var categoryGroup in groupedFoodItems)
        {
            <optgroup label="@categoryGroup.Key">
                @foreach (var foodItem in categoryGroup)
                {
                    <option value="@foodItem.FoodItemId" class="food-item-option"
                            title="@String.Format("Unit Type: {0}\n\tCalories: {2}\n\tProtein: {1}\n\tCarbohydrates: {3}\n\tFat: {4}", @foodItem.Unit, @foodItem.ProteinPerUnit, @foodItem.CaloriesPerUnit, @foodItem.CarbohydratesPerUnit, @foodItem.FatPerUnit)">
                        @foodItem.Name
                    </option>
                }
            </optgroup>
        }
    </InputSelect>

    <label>Food Item</label>
    <ValidationMessage For="@(() => Ingredient.FoodItemId)" />
</div>
