@using MyFoodApp.Application.Common
@using MyFoodApp.Application.DTOs

@code {
    [Parameter]
    public required IngredientDto Ingredient { get; set; }

    [Parameter]
    public required List<FoodItemDto> FoodItemList { get; set; }
}

<div class="form-floating">
    <InputSelect @bind-Value="Ingredient.FoodItemId" class="form-select">
        @foreach (var foodItem in FoodItemList)
        {
            <option value="@foodItem.FoodItemId" class="food-item-option">
                <span>@foodItem.Name</span>
                <span class="food-item-details text-info">
                    (Unit: @foodItem.Unit)<br />
                    Protein: @foodItem.ProteinPerUnit per unit<br />
                    Calories: @foodItem.CaloriesPerUnit per unit<br />
                    Carbohydrates: @foodItem.CarbohydratesPerUnit per unit<br />
                    Fat: @foodItem.FatPerUnit per unit
                </span>
            </option>
        }
    </InputSelect>
    <label>Food Item</label>
    <ValidationMessage For="@(() => Ingredient.FoodItemId)" />
</div>
